<div id="gcode_bar" data-bind="visible: loginState.isUser()">
	<td style="vertical-align: middle">
		<div class="input-append">
			<input type="text" id="gcode_input" data-bind="textInput: gcodeEdit" placeholder="Enter GCode here"/>
			<button type="submit" class="btn">Send</button>
		</div>
	</td>
</div>
