<div id="gcode_bar">
    <div class="input-append">
        <input type="text" autocomplete="off" id="command-search" data-bind="enable: loginState.isUser() && terminal.isOperational(), textInput: commandString, event: { keydown: handleKeyDown, keyup: handleKeyUp }" placeholder="Enter GCode here"/>
        <button type="submit" class="btn" data-bind="enable: loginState.isUser() && terminal.isOperational(), click: sendCommand">Send</button>
    </div>
</div>
